*{
  padding:0;
  margin:0;
}

.container{
 
  margin-right: 100px;
  margin-left: 200px;
  margin-top: 5px;
  margin-bottom: 15px;



}

header {
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px 10px 00 00;
  width: 90.8%;
  height: 180px;

}

nav{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 8px auto;
  width: 100%;
  max-width: 953px;
  margin-left: 1px ;
  
}
nav ul{

    list-style: none;
}
nav > ul{
  display: table;
  overflow: hidden;
  width: 100%;
  background: #2ECCFA;
  position: relative;
  border-radius: 0 0 10px 10px;
}
nav > ul li{
  display: table-cell;
}

nav > ul li a{
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 15px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
nav  ul li a:hover{
   background-color: #32a8a2;
}
nav > ul > li > a span {
    background: #013ADF;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0px;
}

main{
  width: 1000px;
  height: 610px;
  margin-top: 10px;
 
  border-radius: 20px;
}

.section{
  width: 320px;
  height: 600px;
  border-radius: 20px;
  float: left;
}

.s-articulo1{
  width: 270px;
  height: 250px;
  background-color:rgb(183, 199, 93);
  float: left;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 15px;
  
}

.s-articulo2{
  width: 300px;
  height: 310px;
  background-color:#3E5F45;
  float: left;
  margin-bottom: 10px;  
  background-image: url("Imagenes/comida-rápida1.jpg");
  
}

.form{
  width: 630px;
  height: 600px;
  float: left;
  
}

.f-articulo1{
  width: 305px;
  height: 295px;
  background-color: whitesmoke;
  border-radius: 10px 0 0 0;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url("Imagenes/comida-rápida2.jpg");
}
.f-articulo2{
  width: 315px;
  height: 295px;
  background-color: whitesmoke;
  border-radius: 0 10px 0 0;
  float: left;
  margin-bottom: 10px;
  background-image: url("Imagenes/comida-rápida3.jpg");
}
.f-articulo3{
  clear: both;
  width: 305px;
  height: 295px;
  background-color: whitesmoke;
  border-radius: 0 0 0 10px;
  float: left;
  margin-right: 10px;
  background-image: url("Imagenes/comida-rápida4.jpg");
}
.f-articulo4{
  width: 315px;
  height: 295px;
  background-color: whitesmoke;
  border-radius: 0 0 10px 0;
  float: left;
  background-image: url("Imagenes/comida-rápida5.jpg"); 
}
.cabeza{
  width: 100%;
  height: 180px;
  border-radius: 20px 10px 00 00;
}
footer{
  background-color: #635e5d;
  border-color: yellow;
  width: 90.8%;
  height: 100px;
  border-radius: 0 0 20px 20px;
  text-align: center;
}
.texto-f{
  font-family: Arial;
  padding: 40px;
  font-weight: bold;
  color:  #8a7474;
  font-size: 12px;
}

.formulario{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  float: left;
  margin-top: 5px;

}
input{
  margin-bottom: 10px;
}
input:focus, textarea:focus {
  border: 1px solid lightseagreen;
}
input, textarea {
  margin-bottom: 25px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc; 
 
}
textarea{
  resize: none;
}
#ingre{
  width: 40px;
  height: 30px;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 30px;
}
input[type = "submit"] {
  margin-bottom: 0px;
  background: #3cb18a;
  color: #ffffff;
}
input[Type = "submit"]:hover{
  background: #69d3b0;
  cursor: pointer;
}